.game-info {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
}
.up,
.down,
.right,
.left {
  background: url("./src/img/fatcat.png") no-repeat;
}

.up {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}

.down {
  width: 32px;
  height: 32px;
  background-position: 32px 0;
}

.right {
  width: 32px;
  height: 32px;
  background-position: 64px 0;
}

.left {
  width: 32px;
  height: 32px;
  background-position: -65px 0;
}

#main {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#fatcatintro {
  font-family: "Press Start 2P", cursive;
}

.exp {
  cursor: pointer;
  margin-top: 8px;
  font-size: 13px;
  font-family: "Press Start 2P", cursive;
}

.exp:hover {
  font-size: 14px;
}

.catimg-div {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

#about-page {
  display: none;
}

.title {
  margin: 0 auto;
  /* width: 100%; */
  font-size: 17px;
  margin-bottom: 10px;
  /* display: flex; */
  /* align-items: center; */
}

#intro-div {
  width: 500px;
  padding: 20px;
  margin: 0 auto;
}

.game-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myCanvas {
  width: 100%;
  margin: 0 auto;
}
